.container {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

#note-display {
    font-size: 24px;
    margin: 20px 0;
}

#piano {
    position: relative;
    margin: 40px auto;
    width: 700px;
    height: 300px;
}

.white-keys {
    position: relative;
    display: flex;
}

.black-keys {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.black-keys-set-1 {
    position: absolute;
    left: 70px;
    display: flex;
    gap: 40px;
}

.black-keys-set-2 {
    position: absolute;
    left: 370px;
    display: flex;
    gap: 40px;
}

.key {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: bold;
    user-select: none;
}

.white {
    width: 100px;
    height: 300px;
    background-color: white;
    border: 1px solid #000;
}

.black {
    width: 60px;
    height: 180px;
    background-color: black;
    color: white;
    z-index: 1;
}

.key.active {
    background-color: #ccc;
}

.black.active {
    background-color: #333;
} 